<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><img src="assets/images/kaba-80.png" alt="kaba" width="80"/></li>
        <li class="active"><a class="brand" href="/">amazedkoumei.com</a></li>
        <li><a href="/archive.html">History archive</a></li>
        <li><a href="http://blog.amazedkoumei.com" target="_blank">Blog ( in Japanese )</a></li>
        <li><a href="https://www.evernote.com/shard/s10/sh/96b08009-5f50-4977-bd43-4bfa83aedb83/a7c217312384613a9b191413edc7c893" target="_blank">List I want to make</a></li>
      </ul>
    </div>
  </div>
</div>
