<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<meta name="description" content="" /> 
<meta name="keywords" content="" /> 
<meta name="author" content="amazedkoumei">

<title>amazedkoumei.com</title>

<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Bootstrap -->
<!--link href="/assets/themes/twitter/bootstrap/css/bootstrap.min.css" rel="stylesheet"-->
<link href="/assets/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="/assets/themes/twitter/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="/assets/css/amazedkoumei.css" rel="stylesheet" type="text/css" media="all">

{% if site.feedburner %}
<link href="http://feeds.feedburner.com/{{ site.feedburner.id }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
{% endif %}

<!-- Update these with your own images
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
-->
</head>
<body>

<!-- Navbar
================================================== -->
{% include navbar.html %}

<!-- Hero unit
================================================== -->
<div class="container">
  <div class="hero-unit">
    <h1>MORE TIME for YOUR LIFE</h1>
    <img src="assets/images/hero.png" alt="voicebility is comming soon" class="img-rounded" />
    <h2>Voicebility is comming soon.</h2>
    <p>Voicebility is the iOS App making your iPhone audio book and syncronize with Readability. You can listen to article clipped to Readability any time such as cooking, runnning, and driving!</p>
  </div>

  <!-- iOS App
  ================================================== -->
  <h2>iOS App</h2>
  <div class="row">

    <!-- Voicebility
    ================================================== -->
    <div class="span4">
      <h3>Voicebility</h3>
      <img src="assets/images/icon-voicebility.png" alt="">
      <div class="app-link">
        <p><em>comming soon</em></p>
      </div>
      <div class="app-description">Make your iPhone audio boook.</div>
      <div class="app-feature">
        <p>feature
          <ul>
            <li>Syncronize with <a href="http://readability.com" target="_blank">Readability</a>.</li>
            <li>Read out Readability's Article.</li>
          </ul>
        </p>
      </div>
    </div>

    <!-- Octofeed
    ================================================== -->
    <div class="span4">
      <h3>Octofeed</h3>
      <img src="assets/images/icon-octofeed.png" alt="">
      <div class="app-link">
        <p>
          <a class="btn btn-primary" href="http://click.linksynergy.com/fs-bin/click?id=khRM7eIZQnI&subid=0&offerid=94348.1&type=10&tmpid=3910&RD_PARM0=https%3A%2F%2Fitunes.apple.com%2Fjp%2Fapp%2Foctofeed%2Fid574223751%3Fmt%3D8%2526uo%3D4&RD_PARM1=https%3A%2F%2Fitunes.apple.com%2Fapp%2Foctofeed%2Fid574223751%3Fmt%3D8%2526uo%3D4" target="_blank">App Store &raquo;</a>
          <a class="btn" href="http://amazedkoumei.github.com/motion-octofeed/" target="_blank">Project page &raquo;</a>
        </p>
      </div>
      <div class="app-description">Reader for Github news feeed.</div>
      <div class="app-feature">
        <p>feature
          <ul>
            <li>list github news feed.</li>
            <li>readable view of readme and repository owner's profile.</li>
            <li>just one tap to add/remove star, watch/unwatch, follow/unfollow.</li>
          </ul>
        </p>
      </div>
    </div>

    <!-- ClipTo
    ================================================== -->
    <div class="span4">
      <h3>ClipTo</h3>
      <img src="assets/images/icon-clipto.png" alt="">
      <div class="app-link">
        <p>
          <a class="btn" href="http://amazedkoumei.github.com/motion-clipto/" target="_blank">Project page &raquo;</a>
        </p>
      </div>
      <div class="app-description">Make your iPhone comfortable using notification center.</div>
      <div class="app-feature">
        <p>feature
          <ul>
            <li>make easy to Google Search with copied words.</li>
            <li>make easy to Send to Mail with copied words.</li>
          </ul>   
        </p>
      </div>
      <p><em>※ This app is not for sale on App store.</em></p>

    </div>
  </div>
  <hr />

  <!-- Chrome Extension
  ================================================== -->
  <h2>Chrome Extension</h2>
  <div class="row">

    <!-- ato-ichinen
    ================================================== -->
    <div class="span4">
      <h3>ato-ichinen</h3>
      <img src="assets/images/icon-ato-ichinen.png" alt="">
      <div class="app-link">
        <p>
          <a class="btn btn-primary" href="https://chrome.google.com/webstore/detail/ato-ichinen/pojaolkbbklmcifckclknpolncdmbaph" target="_blank">Chrome Web Store &raquo;</a>
        </p>
      </div>
    </div>

    <!-- My hatebu Search
    ================================================== -->
    <div class="span4">
      <h3>My hatebu search</h3>
      <img src="assets/images/icon-my-hatebu-search.png" alt="">
      <div class="app-link">
        <p>
          <a class="btn btn-primary" href="https://chrome.google.com/webstore/detail/my-%E3%81%AF%E3%81%A6%E3%83%96-search/fagdddhhkjdpchaokeceilckcefmbeil" target="_blank">Chrome Web Store &raquo;</a>
        </p>
      </div>
   </div>
  </div>
  <hr />

  <!-- History
  ================================================== -->
  <h2>History</h2>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <!-- footer
  ================================================== -->
  <footer>
    <p>&copy; amazedkoumei 2012 
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a></p>
  </footer>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/assets/js/bootstrap.js"></script>
{% include JB/analytics %}

</body>
</html>
